.App {
  text-align: center;
}

@media all and (max-width: 500px) {
  .navbar {
    flex-direction: column;
  }
}

#user-time {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  padding-left: 20px;
  padding-top: 10px;
  color: #d4b2f1;
}

.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.loading {
  /* display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.comment-container {
  padding: 10px;
  margin: 1px;
}

#delete-comment-btn {
  color: white;
  padding: 1px;
  margin-bottom: 15px;
  background-color: red;
  border-color: red;
  border-style: double;
  border-radius: 5px;
}

.navbar-topics {
  border: 10px;
  border-color: black;
}

.error-redirection {
  margin: 50px;
  justify-self: center;
}

.error-page-header {
  align-items: flex-end;
  align-self: center;
}

.error-page-container {
  margin: 5%;
  padding: 1%;
  background-color: #e2d6ef;
  border-radius: 50px;
  width: 50%;
  display: flex;
  /* align-items: flex-start; */
  justify-content: center;
}

a:link {
  color: #4a0785;
}

.react-heart {
  padding: 10px;
}

.profile-page {
  padding: 20px;
}

a:visited {
  color: #880af5;
}

a:focus {
  color: #d4b2f1;
}

.login-user-avatar {
  border-radius: 5px;
  border-color: white;
  background-color: slateblue;
  color: white;
  padding: 5px 10px 5px 10px;
}

#nc-news-logo {
  max-width: 120px;
  padding: 0px;
  margin: 0px;
}

.user-gallery {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#user-profile-container {
  background-color: #d4b2f1;
  border-radius: 5px;
  margin: 10px;
  padding: 8px;
}

.user-login-btn {
  color: #4a0785;
  border-color: #d4b2f1;
  border-radius: 5px;
  margin: 10px;
  background-color: white;
}

.search-bar-container {
  display: flex;
  height: 17vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}

.user-list-avatar {
  justify-content: center;
}

.dropdown-sort-by {
  margin-right: 25px;
  padding: 5px;
  border-radius: 5px;
  border-color: #4a0785;
  border-width: 3px;
  background-color: lavender;
}

.dropdown-order-by {
  margin-right: 25px;
  padding: 5px;
  border-radius: 5px;
  border-width: 3px;
  border-color: #4a0785;
  background-color: lavender;
}

.user-list-avatar {
  max-width: 30px;
  padding: 15px;
  border-radius: 40px;
  display: flex;
  object-fit: cover;
  align-items: flex-end;
}

#search-bar-header {
  font-size: 1rem;
  margin: 10px;
}

.read-more {
  color: red;
}

.article-header {
  background-color: #e6d3ec;
  border-radius: 20px;
}
.user {
  background-color: lightgray;
}

.vote-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

#article-vote-btn {
  border-radius: 20px;
  background-color: #d1e6ba;
  border-color: #d1e6ba;
  padding: 0.5rem;
  padding-top: 0.25rem;
}

#article-downvote-btn {
  border-radius: 50px;
  border-width: 2px;
  background-color: #cd7d7d;
  border-color: #cd7d7d;
  padding: 0.5rem;
}

/* .header-contents {
  display: flex;
  
} */

.logo-test {
  display: flex;
  justify-content: flex-start;
}
#header-home-link {
  color: white;
  display: flex;
  justify-content: left;
  align-self: center;
  align-items: center;
  align-content: center;
  text-decoration: none;
}
.navbar {
  display: grid;
  justify-content: center;
  border-color: #4a0785;
  padding: 10px;
  margin: 10px;
}

.nav-bar-box {
  border-color: black;
  border-width: 2px;
}

.deleted-comment {
  width: 100%;
}

.comment-adder-form {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.comment-submit-btn {
  margin-left: 10px;
  border-radius: 5px;
  border-color: white;
  background-color: palegreen;
  border: none;
}

#comment-input {
  margin-left: 10px;
}

a {
  color: black;
}

.Header {
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  border-bottom: solid 3px #4a0785;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.navbar-links {
  border: solid 3px slateblue;
  background-color: slateblue;
  padding: 0px;
  margin-bottom: 10px;
  justify-content: center;
  font-size: 2rem;
  border-width: 10px;
}

.active {
  background-color: #4a0785;
  color: #fff;
  border-radius: 3px;
}

.topic-names {
  padding-right: 50px;
  padding-left: 55px;
  text-decoration: black;
  border-color: black;
  border-width: 10px;
}


@media screen and (max-width: 600px) {
  .navbar {
    float: none;
    /* width: 75%; */
  }
  .topic-names {
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: lightgray;
  }
  .nav-link-home {
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: lightgray;
  }

  .user-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

li {
  display: flex;
  flex-direction: column;
  background-color: #e6d3ec;
  padding: 10px;
  padding-bottom: 10px;
  margin: 0.25rem;
}

.comments-list {
  background-color: #e6d3ec;
  padding: 10px;
  padding-bottom: 10px;
  margin: 0.25rem;
  display: flex;
  flex-direction: column;
  height: 225px;
  width: 500px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.comments {
  padding-bottom: 50px;
}

.comment-body {
}

.comments-username {
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
}

.article-container {
  display: grid;
  text-align: left;
  border: solid 2px black;
  padding: 50px;
}

.article-item {
  border: 2px;
  padding: 7px;
}

.single-article {
  display: flex;
  flex-direction: column;
  background-color: #e6d3ec;
  padding: 10px;
  padding-bottom: 10px;
  margin: 0.25rem;
}

/* everything with topic class colour coded */
.topic {
  padding: 5px;
  margin: 5px;
  border: solid 1px;
  border-left-width: 30px;
  border-left-color: #e6d3ec;
  border-right-width: 30px;
  border-right-color: #e6d3ec;
  border-radius: 20px;
}

.user {
  padding: 5px;
  margin: 10px;
  border: solid 1px;
  border-radius: 20px;
  border-left-width: 30px;
  border-left-color: lightgray;
  border-right-width: 30px;
  border-right-color: lightgray;
}
.articles-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: auto;
  padding-bottom: 50px;
}

.article-card {
  padding: 5px;
  display: grid;
  justify-self: auto;
  align-items: center;
}

Footer {
  font-size: small;
  color: gray;
  padding: 5px;
}


.header-avatar-img {
  max-width: 25px;
  padding: 5px;
  /* display: flex; */
  object-fit: cover;
}

.top-right-header {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
